.settings {
    cursor: pointer;
}



.whole {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}

.top{
    display: table-row;
    background-color: #4B0082;
    background-image: linear-gradient(43deg, #4B0082 0%, purple 46%, indigo 100%);
    height: 25vh;
}

.bottom{
    display: table-row;
    height: 100%;
    background: #23232e;
}


.profile {
    display: flex;
    position: absolute;
    border-radius: 50%;
    border-color: #23232e;
    border: 4px solid #23232e;
    width: 20vh;
    height: 20vh;
    top: 15%;
    left: 6%;
}

.profile-headings {
    position: absolute;
    top: 35%;
    left: -9%;
    width: 60%;
    padding-top: 5px;
}

.section {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #b452ff;
    text-shadow: 0 0 30px #b452ff;
}

.align {
    float: left;
    padding-right: 20px;
}

.grayed {
    filter: grayscale(100%) opacity(0.7);
}

span {
    font-size: 20px;
}

.ratios {
    position: absolute;
    display: flex;
    left: 40%;
}

.number {
    font-size: 25px;
}

.profile-main {
    height: 25vh;
    border-bottom: 1px solid #484848;
    border-top: 1px solid #484848;
}

.workouts {
  position:absolute;
  width: 100%;
  height:auto;
  min-height: 100px;
    
}

button {
    border-radius: 50px;
    background: linear-gradient(to right, purple, indigo) !important;
    border: none;
    color: #b452ff;
    text-shadow: 0 0 30px #b452ff;
    position: absolute;
    left: 50%;
    top: 40%;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px;
    width: 175px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
  }
  .animate span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .animate span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .animate:hover span {
    padding-right: 25px;
  }
  
  .animate:hover span:after {
    opacity: 1;
    right: 0;
  }